.price {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  line-height: calc(1 + 0.5 / var(--font-body-scale));
  color: rgb(var(--color-foreground));
}

.price > * {
  display: inline-block;
  vertical-align: top;
}
.variant-picker-overlay {
  position: absolute; /* Position this overlay absolutely within its container */
  top: 50%; /* Adjust as necessary to place the overlay */
  left: 50%;
  transform: translate(-50%, -50%); /* Center using transform */
  z-index: 2; /* Ensure this overlay is above the pseudo-element */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Disable pointer events to allow clicks to pass through */
  display: none;
}
.variant-picker-overlay--active {
  position: absolute; /* Position this overlay absolutely within its container */
  top: 50%; /* Adjust as necessary to place the overlay */
  left: 50%;
  transform: translate(-50%, -50%); /* Center using transform */
  z-index: 2; /* Ensure this overlay is above the pseudo-element */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Disable pointer events to allow clicks to pass through */
}
.variant-picker-overlay--active .toggle-button {
  background-color: #000000;
  color: rgb(139, 139, 139);
  padding: 10px 20px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  border-radius: 24px;
  pointer-events: auto; /* Re-enable pointer events for the .toggle-button itself */
  z-index: 3;
}

.variant-picker-overlay--active ul li input {
  position: relative;
  z-index: 3;
}
.variant-container {
  display: flex;
  flex-direction: column; /* Ensure each child takes a new line */
}

variant-group {
  display: block; /* Ensure the element is block-level */
  width: 100%; /* Take the full width of the container */
  margin-bottom: 10px; /* Optional: Add some space between the groups */
}

.variant-button {
  margin: 5px;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  cursor: pointer;
  position: relative;
  z-index: 4;
  pointer-events: auto; /* Re-enable pointer events for the .toggle-button itself */
}
.variant-button.active {
  background-color: #007bff;
  color: #fff;
}
.price.price--unavailable {
  visibility: hidden;
}

.price--end {
  text-align: right;
}

.price .price-item {
  display: inline-block;
  margin: 0 1rem 0 0;
}

.price__regular .price-item--regular {
  margin-right: 0;
}

.price:not(.price--show-badge) .price-item--last:last-of-type {
  margin: 0;
}

@media screen and (min-width: 750px) {
  .price {
    margin-bottom: 0;
  }
}

.price--large {
  font-size: 1.6rem;
  line-height: calc(1 + 0.5 / var(--font-body-scale));
  letter-spacing: 0.13rem;
}

@media screen and (min-width: 750px) {
  .price--large {
    font-size: 1.8rem;
  }
}

.price--sold-out .price__availability,
.price__regular {
  display: block;
}

.price__sale,
.price__availability,
.price .price__badge-sale,
.price .price__badge-sold-out,
.price--on-sale .price__regular,
.price--on-sale .price__availability {
  display: none;
}

.price--sold-out .price__badge-sold-out,
.price--on-sale .price__badge-sale,
.volume-pricing--sale-badge .price__badge-sale {
  display: inline-block;
}

.volume-pricing--sale-badge .price__badge-sale {
  margin-left: 0.5rem;
}

.price--on-sale .price__sale {
  display: initial;
  flex-direction: row;
  flex-wrap: wrap;
}

.price--center {
  display: initial;
  justify-content: center;
}

.price--on-sale .price-item--regular {
  text-decoration: line-through;
  color: rgba(var(--color-foreground), 0.75);
  font-size: 1.3rem;
}

.unit-price {
  display: block;
  font-size: 1.1rem;
  letter-spacing: 0.04rem;
  line-height: calc(1 + 0.2 / var(--font-body-scale));
  margin-top: 0.2rem;
  text-transform: uppercase;
  color: rgba(var(--color-foreground), 0.7);
}
